
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
    background-color: white;
}

h1{
    color:black;
    display:inline-block;
    padding-top:5% ;
    padding-bottom: 1%;
}

img {
    width: 100%;
}

.bi{
    height:2rm;
}

.circular--square { 
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%;
    height: 46vw;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1%;
    margin-top: 10%;
    justify-content: center;
}

.container{
    text-align: center;
    background-color:white;
   
}



nav{
  justify-content: space-around;
  align-items: center;
    
}
.navbar-expand-lg {

}
.bg-light {
    
}
.navbar-custom {
   
    
}
.container-fluid {
    background-color: white; 
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.navbar-brand {
    font-size:24px;  
    font-family:sans-serif; 
}
.navbar-toggler {
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
}
.navbar-nav {
    background-color: white;
}
.me-auto {
    background-color: white;
}
.mb-2 {
}
.mb-lg-0 {
    background-color: white;
}
.nav-item {
}
.nav-link {
}
.active {
    background-color: white;
}


.Contact{
    color: white;
    border-radius: 30px;
    border-color: black;
    padding: 2%;
    margin:1%;
    background-color:rgb(53, 53, 53);
}

.CV{
    border-radius: 30px;
    border-color: black;
    padding: 2%;
    margin:1%;
    background-color:white;
}

.icon{
    height: 2rem;
    width: 2rem;
    margin: 2%;
}

.profile{
    height:83vh;
}